
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

// @font-face {
//     font-family: 'SEBANG_Gothic_Bold';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

    
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container{
    position: fixed;
    //fixed를 쓰고 싶다면,
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    //background-color: rgb(244, 244, 239);
    //background: rgb(216, 213, 224);
    background: rgb(227, 223, 235);
    width: 100%;
    z-index: 3;
    //container에서 100%를 해야 비율이 맞춰진다.
    h2 {
        font-size: 2.2em;
        font-weight: 400;
        margin-left: 1.5em;
        font-family: 'BMDOHYEON';
        color: rgb(85,26,139);
    
        span{
            color: rgb(245, 170, 20);
        }
    }
    //화면비율에 맞추려면 버튼묶기
    .btn{
        display:flex;
        justify-content: space-between;
        margin-right: 40px;
        margin-top:7px;
        .login, .logout{
            margin-left:20px;
        }
    }
    p {
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 500;
        font-family: 'Pretendard-Regular';
        color: rgb(52,49,90);
        &:hover {
            cursor: pointer;
        }
    }
}