@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

.main {
    //margin: 4rem 6rem;
    margin: 10vh 10vh;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .main h1 {
    font-size: 1.9rem;
  }
  
  .first {
    display: flex;
    //flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 6.5rem;
  }
  
  .main-text {
    width: 45%;
    text-align: start;
    font-size: 1.2rem;
  }
  
  .image {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
  }
  
  .image img {
    width: 49%;
    height: 350px;
    border-radius: 1000px;
  }
  
  .image img:nth-child(2) {
    position: absolute;
    bottom: -15%;
    right: 0;
  }
  
  @media screen and (max-width: 850px) {
    .main {
      margin: 4rem 2rem;
    }
  
    .first {
      display: flex;
      //flex-direction: column-reverse;
      align-items: center;
      margin-top: 2.5rem;
    }
  
    .main-text {
      width: 100%;
    }
  
    .image {
      width: 100%;
      margin: 1.8rem 0;
    }
  
    .image img {
      height: 250px;
    }
  }

  .skill {
    margin: 4rem 6rem;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .skill h1 {
    font-size: 1.9rem;
  }

  .skill p{
    font-size: 1.2rem;
  }
  
  .skillcard {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
  }
  
  .s-card {
    width: 27%;
    text-align: center;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    cursor: pointer;
    padding: 1rem 0.8rem;
    margin-top: 1.2vh;

  }

  .s-card:hover  {
    transform: scale(1.1);
    overflow: hidden;

  }
  
  .s-image img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

  .s-card h4{
    font-size: 1.4rem;
  }

  .s-card p{
    font-size: 1.2rem;
  }
  
  @media screen and (max-width: 850px) {
    .skill {
      //margin: 4rem 2rem;
      margin: 1vh 1vh;
    }
    .skillcard {
      //margin-top: 3rem;
      margin-top: 1vh;
      display: flex;
      flex-direction: column;
    }
    .s-card {
      //margin-bottom: 1.5rem;
      margin-bottom: 1vh;
      width: 100%;
    }
  }
  
  