@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

.footer {
    //background: rgb(214, 211, 222);
    background: rgb(227, 223, 235);
    color: #fff;
    padding: 4rem 6rem;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .bottom {
    //display: flex;
    text-align: start;
    //flex-wrap: wrap;
  }

  @media screen and (max-width: 850px) {
    .footer {
      padding: 4rem 2rem;
    }
  
    .footer i {
      margin: 1rem 1rem 0 0;
    }
  }
  