@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

.RoomApp{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    margin-left: 10%;
    //margin-right: 10%;
    padding: 20px;
    align-content: space-between;
    align-items: center;
    justify-content: center;

.roomData {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
    input {
        width: 300px;
        height: 32px;
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
        margin :20px;
      }
}

.WebCam {
    display: flex;
}
.videoBox {
    margin : 40px;
    //margin : 10px;
    //background-color: rgb(243,207,31);
    background-color: rgb(220,212,249);
    //background-color: white;
    video {
        object-fit: cover;
        // width: 40vw;
        // height: 30vh;
        //width: 380px;
        width: 524px;
     }
    }

    .videobutton{
        display: flex;
        align-items: center;
        & > button {
            min-width: 80px;
            background: unset;
            border: unset;
            cursor: pointer;
            background: rgb(85,26,139);
            color: #fff;
            width: 5vw;
            height: 4vh;
            border-radius: 1.5em;
            font-size: 1em;
            font-weight: 500;
            margin-top: 0.5em;
            margin-left: 0.5em;
            
            &:hover{
                color: rgb(243,207,31);
            }
        }
    }


.Chat {
    display: flex;
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
    position: relative;
    //float: right;
}


@media screen and (max-width: 760px) and (min-width: 1px) {
    .RoomApp{
        max-width: 100%;
        padding:0 6.25vw;
    }
}

@media screen and (max-width: 760px) and (min-width: 1px) {
    .Chat{
        max-width: 100%;
        padding:0 6.25vw;
    }
}

}